<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
   <% @cart.line_items.each do |item| %>
       <li><%= item.product.title %> <%= link_to item.product.title, product_path(item.product) %></li>
   <% end %>
</ul>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
