<p id="notice"><%= notice %></p>

<div class="cart_title" >Your Cart</div>
<table>

<%= render @cart %>

<tr class="total_line" >
<td colspan="2" >Total</td>
<td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
</tr>
</table>
<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
<br><br><br>
Tipp: item.total_price geht nur, wenn in den models von LineItem und Cart eine "total_price" Methode existiert<br>
sprich: <br>
LineItem.rb: 'product.price * quantity  <br>
cart.rb: line_items.to_a.sum { |item| item.total_price }   <br>
<br><br>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
